@use '../utils/_typos.scss' as *;
@use '../variables/_variables.scss' as *;

#home-content {
    padding: 20px;
    text-align: center;
    color: #333;
    background-image: url("img/background-accueil.jpg");
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        color: black;
        margin-bottom: 20px;
        font-size: 3vw;
    }

    #buy-button {
        display: inline-block;
        padding: 15px 30px;
        margin-top: 20px;
        background-color: #3498db;
        color: #fff;
        text-decoration: none;
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }

    #buy-button:hover {
        background-color: #2980b9;
    }
}
