@use '../utils/_typos.scss' as *;
@use '../variables/_variables.scss' as *;




#search-bar {
    background-color: #ffffff;
    padding: 1em;
    margin: 1em 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    input {
        padding: 0.5em;
        margin-right: 1em;
        border: 1px solid #bdc3c7;
        border-radius: 4px;
        width: 200px;
    }

    button {
        padding: 0.5em 1em;
        background-color: #3498db;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    label {
        margin-right: 0.5em;
    }

    select {
        padding: 0.5em;
        border: 1px solid #bdc3c7;
        border-radius: 4px;
    }
}

#pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;

    .pokemon-card {
        background-color: #ecf0f1;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 1em;
        margin: 1em;
        text-align: center;

        img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
        }

        button {
            padding: 0.5em 1em;
            background-color: #2ecc71;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}

// Pour enlever les bullets points 

.pokemon-details-list {
    list-style: none;
    padding: 0;
}

// Les cartes Pokémons
.pokemon-card {
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05); 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    }
}
